@import "abstracts/variables";
@import "~bootstrap/scss/bootstrap"; 
@import "~@fontsource/jost/scss/mixins.scss";

:root{
    --bs-body-font-family: 'Jost', 'Avenir', sans-serif;
}

body {
    background-color: $dark;
    h1 {
      color: $light;
    }

    .wrapper {
      background-color: $light;
      border-radius: .5em;
      margin: 3em auto;
      padding: 10px 20px;
      max-width: 1000px;
      flex: 1 1 200px;
      position: relative;
      &:hover {
        cursor: pointer;
      }
      &:active {
        background-color: rgba($light,.75);
      }

      .copy-button {
        position: absolute;
        right: 10px;
        color: $muted;
      }

      #txt-content {
        color: $dark;
        white-space: pre-wrap;
        font-family: "Menlo", monospace, sans-serif;
      }
    }
  }
  