$primary: #5E503F;
$secondary: #C6AC8F;
$dark: #22333B;
$light: #EAE0D5;
$muted: #74776B;

$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 5;
$h2-font-size:                $font-size-base * 3;